<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <add key="issuer" value="https://login.example.ubidemo.com/uas" />
    <add key="client_id" value="public" />
    <add key="client_secret" value="public" />
    <add key="redirect_uri" value="http://localhost:52834/public" />
  </appSettings>
</configuration>
